PORT=4000

POSTGRES_USER=postgres
POSTGRES_PASSWORD=WFpACfFNKdwaUiXBJCQslpRqAZLaiCrM
POSTGRES_HOST=postgres.railway.internal
POSTGRES_PORT=5432
POSTGRES_DATABASE=railway

JWT=your_jwt_secret_key

BREVO_API_KEY=
BREVO_SENDER_EMAIL=
BREVO_SENDER_NAME=Fernando Flores Mendoza
FORGOT_PASSWORD_URL=http://localhost:3000/password-recovery
VERIFY_ACCOUNT_URL=http://localhost:3000/user-verification

